@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

:root {
    --color-terminal: #292b36;
    --borde-redondo: 4px;
}

* {
    font-family: 'Source Code Pro', monospace;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c4b7a;
    color: white;
}

input, button {
    border: none;
    outline: none;
}

main {
    padding: 25px;
    box-shadow: 8px 8px 35px 0px rgb(0 0 0 / 75%);
    border-radius: var(--borde-redondo);
}

h1 {
    margin: 0;
}

#input-original, #resultado {
    background-color: var(--color-terminal);
    width: -webkit-fill-available;
}

#input-original {
    margin: 10px 0 0;
    padding: 10px;
    color: white;
    border-top-left-radius: var(--borde-redondo);
    border-top-right-radius: var(--borde-redondo);
}

#resultado {
    height: 20px;
    color: #5af78d;
    padding: 0 10px 10px;
    border-bottom-left-radius: var(--borde-redondo);
    border-bottom-right-radius: var(--borde-redondo);
}

.rango {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 60px;
    text-align: center;
    align-items: center;
}

.output{
    width: 50px;
}

.check{
    position: relative;
    top: 65%;
    left: 65%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"]
{
    transform: scale(.7);
    -ms-transform: scale(.7);
    -webkit-transform: scale(.7);
    padding: 10px;
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;
}

input:checked[type="checkbox"]{
    background: #95f192;
}

input[type="checkbox"]:before{
    content: '';
    position: absolute;
    width: 40px;
    height:40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}
input:checked[type="checkbox"]:before{
    left: 40px
}

input[type='range'] {
    -webkit-appearance: none;
    border-radius: var(--borde-redondo);
    background:var(--color-terminal);
    margin: 0;
    padding: 0 5px;
    height: 20px;
}

input[type='range']::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    background:white;
    border-radius: 50%;
    height:15px;
    width:15px;
}